<h1>Food Maths</h1>

<label for="flavor">Flavor: </label>
<select id="flavor">
  <option value="">- pick one -</option>
  <% @flavors.each do |flavor| -%>
  <option value="<%= flavor %>"><%= flavor %></option>
  <% end -%>
</select>

<span id="flavor_result"></span>